.drink {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .icon {
    font-size: 220px;
    height: 250px;
  }
  .notfound {
    text-align: center;
    font-size: 20px;
  }